.body {
  color: white;
  width: auto;
  display: flex;
  align-items: center;
}

.header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
}

.html {
  background-color: black;
}

.line {
  background-color: black;
  height: 3px;
}

.graph {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.stylebg {
  height: auto;
  min-height: 150px;
  max-height: 280px;
  width: 100%;
  padding-right: 50px;
  margin-left: 15px;
  opacity: 60%;
  position: absolute;
  overflow: auto;
}

.img {
    height:auto;
    width: 300px;
    border-radius: 20px;
    margin: auto;
}

.homebutton {
  color: white;
  background-color: black;
  text-align: center;
  border: solid white 2px;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: 2px;
}

.homebutton:hover {
  background-color: #36454F;
  color: white;
  border: solid gold;
}

.text{
  z-index: 1;
}

.text:hover{
  color: #36454F;
  font-size: larger;
}
